<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <nav th:fragment="navFragment" class="bg-gray-900 text-white py-4 shadow-lg">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <a
        href="/"
        class="text-2xl font-bold tracking-tight hover:text-primary transition"
      >
        Dev<span class="text-primary">Blog</span>
      </a>
      <div class="space-x-4">
        <a href="/" class="hover:text-gray-300">Home</a>
        <a
          href="https://github.com/devKobe24"
          target="_blank"
          class="hover:text-gray-300"
          >Github</a
        >
      </div>
    </div>
  </nav>
</html>
